{% extends 'base.html' %}

{% block title %}


Челябинск


{% endblock %}

{% block content %}

<h1>
    Челябинск, расположившийся на склонах Уральских гор, входит в число самых крупных городов России.
    Находящийся на границе двух континентов – Европы и Азии, он славится своими многочисленными достопримечательностями.
    Старинные мощеные улочки, прекрасные соборы и церкви, великолепные сооружения минувших столетий и живописные уголки природы – все это Челябинск или,
    как его еще называют, столица Южного Урала.
    Нередко в обиходе встречаются и такие неофициальные названия, как Челяба и просто Че.
</h1>

{% endblock %}