{% extends 'base.html' %}

{% block title %}


Москва


{% endblock %}

{% block content %}

<h1>
    Москва — столица и крупнейший город России.
    Сюда ведут многие пути и человеческие судьбы,
    с этим городом связано множество роковых и знаменательных
    событий истории, людских радостей и надежд, несчастий и разочарований и,
    разумеется, легенд, мифов и преданий. Москва — блистательный город,
    во всех отношениях достойный называться столицей.
    Здесь великолепные памятники архитектуры и живописные парки,
    самые лучшие магазины и высокие небоскребы,
    длинное метро и заполненные вокзалы. Москва никогда не спит,
    здесь трудятся с утра до поздней ночи, а затем веселятся до утра.
</h1>

{% endblock %}


