{% extends 'base.html' %}

{% block title %}


Мурм


{% endblock %}

{% block content %}

<h1>
    Муром, расположенный на левобережье Оки, относится к числу самых древних городов страны, который по праву называют ровесником тысячелетней российской государственности.
    В течение веков он оставался стратегически важным форпостом на восточных границах Руси,
    служил сценой для кровопролитных междоусобных военных сражений, жестоких разорительных набегов.
    Муром пережил страшные пожары, нашествия татар, Смуту, при этом каждый раз он восставал из руин и пепла.
</h1>

{% endblock %}