{% extends 'base.html' %}

{% block title %}


Санкт-Петербург


{% endblock %}

{% block content %}

<h1>
    Санкт-Петербург – один из красивейших мегаполисов мира, посмотреть на который приезжают путешественники из разных уголков планеты.
    Только в 2015 году здесь побывало свыше 3,7 млн российских и 2,8 млн иностранных туристов.
    Раскинувшийся на побережье Финского залива, в устье реки Невы, Санкт-Петербург является вторым по величине городом России 
    (в статусе самостоятельного субъекта федерации) и одновременно административным центром Ленинградской области и Северо-Западного федерального округа.
</h1>

{% endblock %}