{% extends 'base.html' %}

{% block title %}


Ставрополь


{% endblock %}

{% block content %}

<h1>
    Ставрополь – город на Северном Кавказе, столица Ставропольского края. Лежащий в предгорьях Кавказа,
    в XVIII-XIX веках он был южным форпостом страны, оплотом казачества. Важный оборонный рубеж в императорской России,
    в первой половине ХХ века Ставрополь оставался центром подготовки кавалерийских войск.
    В наше время в Ставрополе сосредоточены крупнейшие исторические, естественнонаучные и художественные музеи края,
    парки развлечений и археологические памятники под открытым небом.
    В летнее время в окрестностях города можно найти отличные места для купания и рыбалки.
</h1>

{% endblock %}