{% extends 'base.html' %}

{% block title %}


Тула


{% endblock %}

{% block content %}

<h1>
    Тула известна как родина вкуснейших пряников и «самоварная столица» России. Располагается она в 185 км от Москвы.
    Это спокойный и тихий городок с древнейшей историей – он на год старше столицы (основан в 1146 году).
    Большая часть экскурсионных объектов – храмы и монастыри.
    Тула славится приятным климатом – мягкой зимой и нежарким летом. Улочки города – настоящий музей под открытым небом.
    Здесь сохранилось много старинных зданий XVIII-XIX века.
    Туристы едут сюда, чтобы взглянуть на Тульский кремль – это самое старое сооружение в городе.
</h1>

{% endblock %}