{% extends 'base.html' %}

{% block title %}

<h2>
    Ярославль
</h2>

{% endblock %}

{% block content %}

<h1>
    Ярославль – главный претендент на звание столицы Золотого кольца России и старейший город на Волге с тысячелетней историей,
    чьи достопримечательности удостоились места в списке Всемирного наследия ЮНЕСКО. Несмотря на свой почтенный возраст,
    Ярославль не застыл в праздном великолепии и быстро подстроился под современный ритм жизни, превратившись в довольно крупный промышленный центр.
    Однако посещают его вовсе не для того, чтобы оценить достижения местной экономики: ожившее прошлое – вот тот магнит,
    который притягивает в эти места толпы туристов и вереницы экскурсионных автобусов. Бывший центр русского купечества, город,
    где, в какой дом ни ткни пальцем, обязательно угодишь в памятник древнерусского зодчества,
    живописные волжские просторы, где провел свое детство Н. А. Некрасов – все это прекрасный и гордый Ярославль.
</h1>

{% endblock %}